//@import 'pico-master/css/pico.css';

@import '../../node_modules/bulma/css/bulma.css';

header {

    .container {
        display: grid;
        grid-template-columns: 7fr 4fr;
    }

}

form {

    //.field {
    //    width: 75%;
    //    margin: 0 auto;
    //}

    input {
        width: 100%;
    }
}


.company {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 6fr;
    padding: .5rem 0;
    border-bottom: 1px solid hsl(0, 0%, 86%);

    * {
        //outline: 1px solid blue;
    }

    h5 {
        margin: 0;
    }
}
