//@import 'pico-master/css/pico.css';

@import '../../node_modules/bulma/css/bulma.css';

@import 'resume.scss';
@import 'link.scss';
@import 'range.scss';


$dark: #4a4a4a;
$grey-lighter: #dbdbdb;

$info: #3e8ed0;

body {
    font-family: 'Maven Pro', sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

main {
    flex-grow: 1;
    display: flex;

    .page-content {
        padding-bottom: 100px;
    }
;
}



header {
    //background: rgb(82,114,218);
    //background: linear-gradient(115deg, rgba(82,114,218,1) 10%, rgba(128,219,254,1) 90%);

    background: rgb(62,142,208);
    background: linear-gradient(115deg, rgba(62,142,208,1) 10%, rgba(128,219,254,1) 90%);

    .container {
        display: grid;
        grid-template-columns: 7fr 4fr;
    }
}

.wrapper-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

nav {
    a {
        border-bottom: 2px solid transparent;
        &:hover {
            border-color: $dark;
        }
    }
}

// horizontal toolbar shared across pages
.toolbar {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}


.filter-form {
    display: flex;
    gap: .25rem;
    align-items: center;
}

input,
select {
    width: 100%;
    font-family: inherit;
}

.select {
    width: 100%;
}


.button {
    font-weight: 600;
    font-family: inherit;
}





// entities display

.job {
    display: grid;
    grid-template-columns: .5fr 1fr 4fr 7fr 1fr 2fr 3fr 3fr;
    align-items: center;

    padding: .25rem 0;
    border-bottom: 1px solid hsl(0, 0%, 86%);

    h5 {
        margin: 0;
    }

    .job-preview-image {
        width: 100%;
        height: 100%;
        border: 1px solid #b5b5b5;
        border-radius: .5rem;
    }
}

.company {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 6fr;
    align-items: center;

    padding: .25rem 0;
    border-bottom: 1px solid hsl(0, 0%, 86%);

    h5 {
        margin: 0;
    }
}

.platform {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 6fr;
    align-items: center;

    padding: .25rem 0;
    border-bottom: 1px solid hsl(0, 0%, 86%);

    h5 {
        margin: 0;
    }
}

// STATUS
.status {
    border-radius: .5rem;
}

// CUSTOM COLOR CLASSES

.has-background-orange {
    background-color: #fb8c00;
}

.has-text-orange {
    color: #fb8c00;
}

.has-background-teal {
    background-color: #00bdcf;
}

.has-background-soft {
    background-color: #dbdbdb;
}



input[type="checkbox"] {
    width: 20px !important;
    height: 20px;
    margin: 0 .5rem 0 0;
}