{# this button must be shared across forms #}
<div class="has-text-centered">
    <a class="button is-danger is-outlined is-medium my-4"
       data-role="modal-toggler">
{#        <i class="fas fa-trash-alt mr-2"></i>#}
        Supprimer
    </a>
</div>

<p id="identifier" class="is-hidden">{{ identifier }}</p>
