{% extends 'base.html.twig' %}

{% block main %}

    <section>
        <div class="container">

            <h1 class="is-size-3 has-text-weight-bold has-text-primary has-text-centered my-6">Dashboard</h1>

            <p>Liste des annonces</p>

        </div>
    </section>


{% endblock %}
