{% extends 'base.html.twig' %}

{% block main %}

{# FIXME -- ACCESS REQUEST QUERY & PARAMETERS #}
{#    {{ dump(app.request.query.get('progress')) }}#}
{#    {{ dump(app.request.attributes.get('status')) }}#}

    <section class="page-content">
        <div class="container is-fluid">

            {# PAGE HEADER #}
            <div class="page-header">
                <h1 class="is-size-3 has-text-weight-bold my-3">Dashboard</h1>
            </div>

            {# TOOLBAR #}
            {% include 'dashboard/_toolbar_dashboard.html.twig' %}

{#            {{ dump(app.request.attributes.get('_route_params').status) }}#}

            {# PAGE CONTENT #}
            <div class="job has-text-weight-semibold has-text-grey-light">
                <div>ID</div>
                <div></div>
                <div>SOCIÉTÉ</div>
                <div>INTITULÉ</div>
                <div></div>
                <div>STATUT</div>
                <div>PLATEFORME</div>
                <div>POSTULÉ LE</div>
            </div>

            {% for job in topjobs %}
                {% include 'job/_job_item.html.twig' %}
            {% endfor %}

            <div class="py-6"></div>

            {% for job in jobs %}
                {% include 'job/_job_item.html.twig' %}
            {% endfor %}

            {#            {% set colors = [ #}
            {#                'primary', #}
            {#                'info', #}
            {#                'warning', #}
            {#                'danger', #}
            {#                'grey-light', #}
            {#                'grey-lighter', #}
            {#            ] %} #}

            {#            {% for c in colors %} #}
            {#                <div class="has-background-{{ c }}" style="width: 100px; border-radius: 10px"> #}
            {#                    <p>ABC</p> #}
            {#                </div> #}
            {#            {% endfor %} #}


        </div>
    </section>

{% endblock %}
