<header class="has-background-info has-text-light py-4">

    <div class="container is-fluid">

        <h2 class="is-size-4 has-text-weight-bold">
            <i class="fas fa-rocket mr-2"></i>
            JobRocket
        </h2>

{#        <nav class="is-flex is-justify-content-space-between is-align-items-center has-text-weight-semibold">#}
{#            <a class="has-text-light" href="/">Dashboard</a>#}
{#            <a class="has-text-light" href="/companies">Sociétés</a>#}
{#        </nav>#}

    </div>

</header>