<header class="has-background-primary py-4">

    <div class="container">

        <p class="is-size-4 has-text-weight-bold">JobRocket</p>

        <nav class="is-flex is-justify-content-space-between is-align-items-center">
            <a class="has-text-dark" href="/">Dashboard</a>
            <a class="has-text-dark" href="/companies">Sociétés</a>
        </nav>

    </div>

</header>