<div id="mainModal" class="modal">
{#<div class="modal is-active">#}
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="box p-6">


            <div class="has-text-centered">
                <p class="has-text-weight-semibold is-size-5">
                    Confirmez-vous la suppression<br>
                    de l'élément <span class="identifier-span has-text-weight-bold has-text-danger"></span> ?
                </p>

            </div>


            <div class="columns mt-6">
                <div class="column">
                    <button
                       class="button is-dark is-outlined is-medium"
                       data-role="modal-discard"
                       style="width: 100%">Annuler</button>
                </div>

                <div class="column">

                </div>

                <div class="column has-text-right">
                    <a class="button is-danger is-medium"
                       data-role="modal-confirm-delete"
                       style="width: 100%">Supprimer</a>
                </div>
            </div>

        </div>

    </div>
    {#    <button class="modal-close is-large" aria-label="close"></button> #}
</div>