<div class="sidebar has-background-grey-lighter py-5 px-4">

    <nav>
        <ul class="has-text-weight-semibold is-size-5">

            <li class="mb-4">
                <a class="has-text-dark" href="/?progress=active">
                    <i class="fas fa-chart-bar"></i>
                    Dashboard
                </a>
            </li>

            <li class="mb-4">
                <a class="has-text-dark" href="/companies">
                    <i class="fas fa-university"></i>
                    Sociétés
                </a>
            </li>

            <li class="mb-4">
                <a class="has-text-dark" href="/platforms">
                    <i class="fas fa-star"></i>
                    Plateformes
                </a>
            </li>

        </ul>
    </nav>

</div>
